.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .producto-card {
    width: 250px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .producto-image img {
    width: 100%;
    height: auto;
  }
  
  .producto-details {
    padding: 10px;
  }
  
  .producto-nombre {
    font-weight: bold;
  }
  